.flexbox-container {
  width: 100%;
  max-width: 1000px;
  background-color: #f4f9ff;
  margin: 0 auto;
  
}

.site-title {
  width: 160px;
  line-height: 1px;
  margin-bottom: 15px;
}



.container {
  max-width: 1000px;
  margin: 0 auto;
}

.inner {
  max-width: 600px;
  margin: 0 auto;
  
}

.logo {
  width: 200px;
  
}


#index {
  background-color: #fff;
  padding: 30px 0;
  margin-bottom: 60px;
}




img {
  max-width: 100%;
  }

.images1 {
  display: block;
  margin-left: auto;
  margin: auto;
  margin-bottom: 60px;
}

#inner h2 {
  display: block;
  padding-left: 30px;
  margin-left: 30px;
}

#index ol {
  display: block;
  margin:auto;
  padding: auto;
}

 hr {
  width: 300px;
 }

#detail {
  padding-bottom: 30px;
}



 #detail .content {
 display: flex;
 align-items: center;
 justify-content: center;
 

 }
 
.text {
  padding-left: 40px;
}

.taitle {
  font-weight: bold;
}

.text th {
  font-weight: lighter;
}
#detail .content tr {
  display: flex;
  flex-wrap: wrap;
}




 @media screen and (max-width: 1024px) {
  .inner {
    padding: 0 40px;
  }
 }